---
import { Image, Picture } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";

import aboutImg from "../images/person-holding-rivets.jpg";

const editors = [
    {
        name: "Jerold Berold",
        text: "I'm baby trust fund heirloom tousled big mood flexitarian cold-pressed, retro thundercats lomo leggings lyft. Vexillologist cronut synth solarpunk trust fund skateboard pinterest fixie migas green juice DSA venmo activated charcoal mumblecore.",
        img: "../images/person-holding-rivets.jpg",
    },
    {
        name: "Alice Falleis",
        text: "I'm baby cronut four loko tumeric farm-to-table, live-edge man braid bruh ethical bespoke pug. Microdosing brunch vape swag. Paleo yuccie banh mi, pinterest portland four dollar toast solarpunk vegan gentrify keytar whatever fixie. Ennui cronut scenester celiac flannel pok pok chambray street art ",
        img: "../images/person-holding-rivets.jpg",
    },
];
---

<Layout>
    <section id="about" class="mt-24 md:mt-36">
        <h1 class="h1 px-5">About Phoenix of Alexandria</h1>
        <div class="flex flex-col lg:flex-row gap-8 pb-10">
            <div class="md:rounded-lg md:w-80 mx-auto">
                <Picture
                    alt=""
                    src={aboutImg}
                    widths={[300, 500]}
                    aspectRatio={"3:4"}
                />
            </div>
            <article>
                <p>
                    I'm baby aesthetic typewriter drinking vinegar marxism
                    williamsburg pabst gochujang. Snackwave pinterest migas,
                    health goth swag etsy green juice. Chicharrones fixie
                    keffiyeh, heirloom keytar asymmetrical lyft pabst kale chips
                    squid bodega boys offal. Tattooed grailed snackwave artisan,
                    forage biodiesel hell of ennui mlkshk meh VHS adaptogen.
                    Skateboard unicorn gochujang, 3 wolf moon tonx single-origin
                    coffee locavore asymmetrical same. Tonx paleo narwhal blog
                    four dollar toast typewriter YOLO gluten-free. Migas pickled
                    90's, kickstarter man braid typewriter hot chicken tattooed
                    DSA.
                </p><p class="mt-5">
                    Letterpress taxidermy lomo echo park hammock 90's. Sus
                    meditation marxism adaptogen cray actually health goth tacos
                    swag, copper mug godard drinking vinegar VHS subway tile.
                    Post-ironic four loko praxis wayfarers VHS gatekeep. Brunch
                    meh leggings, marxism migas tousled keffiyeh mumblecore
                    organic. 3 wolf moon ennui craft beer roof party direct
                    trade gatekeep, street art plaid ethical helvetica poke.
                    Etsy YOLO DSA, pabst Brooklyn mixtape JOMO. Lo-fi gorpcore
                    swag waistcoat sus vaporware bodega boys ascot pop-up banjo
                    hashtag.
                </p>
            </article>
        </div>
    </section>
    <section id="meet-the-editors" class="bg-secondary pb-16">
        <h2 class="h2">Meet the Editors</h2>
        <div class="flex flex-col gap-10 md:gap-32 md:px-5">
            {
                editors.map((editor) => {
                    return (
                        <article class="flex flex-col md:flex-row even:md:flex-row-reverse place-items-center gap-5">
                            <div class="shrink-0 ">
                                <Image
                                    class="rounded-full shadow-2xl"
                                    src={aboutImg}
                                    alt={editor.name}
                                    width={200}
                                    aspectRatio={"1:1"}
                                />
                            </div>
                            <div>
                                <h3 class="font-semibold text-3xl px-3">
                                    {editor.name}
                                </h3>
                                <p class="mt-5">{editor.text}</p>
                            </div>
                        </article>
                    );
                })
            }
        </div>
    </section>
</Layout>
