---
import "../styles/global.css";
import "@fontsource/cormorant-garamond";
// import { Icon } from "astro-icon";
import Cart from "../components/Cart.jsx";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Head from "./Head.astro";


const allProducts = await Astro.glob("../pages/store/collections/*.md");
let showToTop = false;
let navbarChange = false;
const {
  title = "Queer Book Publishing | Phoenix of Alexandria",
  description = "Pittsburgh's #1 publisher for queer authors!",
  //ogImg = "/images/ogImg.jpg",
  url,
  footerClass,
  background,
  city,
} = Astro.props;
//const socialImg = new URL(ogImg, Astro.site)
//const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<Head {title} {description}>
  <body class={`overflow-x-hidde min-h-screen ${background}`}>

    <!-- <Modal> -->
    <Cart products={allProducts} client:load />
    <!-- </Modal> -->
    <Navbar city={city} navbarChange={false} products={allProducts} />

    <!-- </div> -->
    <main class="">
      <slot />
    </main>

    <Footer />

  </body>
</Head>

<style is:global>
  /* .resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  } */

  html {
       @apply focus:outline-none focus:ring focus:ring-orange-700 focus:ring-inset
  
};
  
  .button {
    @apply w-full inline-block sm:w-auto bg-orange-400 hover:bg-orange-600 transition py-3 px-8 md:py-1 md:px-4 font-extrabold font-serif text-2xl md:text-lg text-black rounded-full shadow-2xl cursor-pointer text-center;
  }
  .button-md {
    @apply w-full sm:w-auto bg-orange-400 hover:bg-orange-600 transition py-3 px-4 font-extrabold font-serif text-2xl text-black inline-block rounded-full shadow-2xl cursor-pointer text-center;
  }
  .button-lg {
    @apply sm:w-auto bg-orange-400 hover:bg-orange-600 transition py-6 px-10 font-extrabold font-serif text-3xl text-black inline-block rounded-full border-2 border-orange-900/50 shadow-2xl cursor-pointer text-center;
  }
  .h1 {
    @apply font-serif text-5xl md:text-6xl text-center md:text-left py-10 px-5;
  }
  .h2 {
    @apply font-serif text-4xl lg:text-5xl text-center md:text-left font-bold px-2 md:px-5 py-12;
  }
  p {
    @apply px-3;
  }

</style>

<!-- <script>
  import observer from "../utils/observer";

  const fadeUps = document.querySelectorAll(".fadeUp");

  const rotates = document.querySelectorAll(".rotated");
  observer(fadeUps, "animate", 0.2);
  observer(rotates, "animate");
</script>
<script>//any non-internal link opens in a new window
  const internal = location.host.replace("www.","");
  const internalRegEx= new RegExp(internal,"i");
  const links = document.querySelectorAll("a");
  links.forEach((link)=>{
    let href=link.host;
    if(!internalRegEx.test(href)){
      link.target="_blank";
    }
  })

</script> -->
